@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;300;400;600;700&display=swap');

:root {
    --color1: #FA9A4D;
    --color2: #0b0d13;
    --color3: #fdfa72;
    --color4: #fffefd;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'M PLUS 2', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    width: 100%; 
}

body a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--color2);
    box-shadow: 0 3px 3px #0b0d1386;
}

ul {
    list-style: none; 
    display: flex;
    margin-right: 3rem;  
}

ul a {
    display: block;
    padding: 1.6rem;
    font-size: 1.3rem;
    font-weight: 400;   
    color: var(--color3);
}

ul a:hover {
    background-color: var(--color3);
    color: var(--color2);
}

@media (max-width: 500px){
    ul {
        margin: auto;
    }

    ul a {
        justify-items: center;
        margin: auto 0.4rem;
        padding: 1.4rem;
    }
    
}

@media (max-width: 400px){
    nav {
        justify-content: center;
    }

    ul {
        margin: auto;
    }

    ul a {
        margin: auto;
        font-size: 1rem;
        padding: 1.4rem;
    }
}

@media (max-width: 320px){
    nav {
        justify-content: center;
    }

    ul {
        margin: auto;
    }

    ul a {
        margin: auto;
        font-size: 0.9rem;
        padding: 1.2rem;
    }

}


#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100vh;  
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color4);
    text-shadow: 2px 2px 2px #0b0d13a4;
    text-align: center;
    scroll-margin-top: 16rem;
}

#sub {
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    color: var(--color2);
    text-align: center;
}

@media (max-width: 400px){

    h1 {
        font-size: 2.8rem;
    }

    #sub {
        font-size: 1.4rem;
    }
}


@media (max-width: 320px){

    h1 {
        font-size: 2.6rem;
    }

    #sub {
        font-size: 1.3rem;
    }
}

#projects {
    background-color: var(--color4);
    text-align: center;
    padding: 6rem 2rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color2);
    text-align: center;
    text-shadow: 2px 2px 2px #0b0d1386;
    margin: 2rem auto 8rem auto;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 3.8rem;
    width: 100%;   
    max-width: 1024px; 
    margin: 0 auto;
    margin-bottom: 4rem
}

.thumb {
    height: calc(100% - 4.2rem);
    width: 100%;
    object-fit: cover;
}

.project-name {
    color: var(--color3);
    font-family: 'M PLUS 2', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;   
    padding: 0.8rem;  
}

.project-links {
    background: var(--color2);
    border-radius: 0 0 6px 6px;
    box-shadow: 2px 2px 3px #0b0d1386;
}

@media (max-width: 500px){
    #projects {
        padding: 2.2rem 2rem;
    }

    h2 {
        font-size: 2rem;
        margin: 4rem auto 4.8rem auto;
    }
}

@media (max-width: 400px){

    #projects {
        padding: 2.4rem 1.6rem;
    }

    h2 {
        font-size: 1.5rem;
        margin: 2rem auto 4rem auto;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        width: 100%;   
        max-width: 380px; 
        margin: auto;
        margin-bottom: 2rem
    }

    .thumb {
        height: calc(100% - 2.8rem);
        width: 100%;
        object-fit: cover;
    }

    .project-name {
        color: var(--color3);
        font-family: 'M PLUS 2', sans-serif;
        font-size: 0.9rem;
        font-weight: 400;   
        padding: 0.4rem;  
    }
    
}


@media (max-width: 320px){

    #projects {
        padding: 2.4rem 1.4rem;
    }

    h2 {
        font-size: 1.6rem;
        margin: 2rem auto 4rem auto;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem;
        width: 100%;   
        max-width: 320px; 
        margin: auto;
        margin-bottom: 2rem
    }

    .thumb {
        height: calc(100% - 2.8rem);
        width: 100%;
        object-fit: cover;
    }

    .project-name {
        color: var(--color3);
        font-family: 'M PLUS 2', sans-serif;
        font-size: 0.9rem;
        font-weight: 400;   
        padding: 0.4rem;  
    }
    
}


#contact {
    background-color: var(--color1);
    text-align: center;   
    padding: 6rem 2rem;
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color4);
    text-shadow: 2px 2px 2px #0b0d1386;
    text-align: center;
    margin: 2rem auto 4rem auto;
}

#contactdiv {
    display: flex;
    margin: 2em auto 0 auto;    
    justify-content: center;
    align-items: center; 
}

.icon {
    filter: drop-shadow(2px 2px 2px #0b0d1386);
}

#contactdiv a > p {
    font-family: "M PLUS 2", sans-serif;
    text-align: center;
    font-weight: 400;  
    font-size: 1.3rem; 
    margin: auto;
    display: block;
    color: var(--color4);
    text-shadow: 2px 2px 2px #0b0d1386;
}

#contactdiv a {
    text-decoration: none;
    padding: 2em 4em;
    
}

#contactdiv a p:hover {
    color: var(--color2);
}

@media (max-width: 400px){

    #contact {
        height: 60vh;
        padding: 4.2rem 2rem;
    }

    h3 {
        font-size: 1.7rem;
        margin: 2.2rem auto 6rem auto;
    }

    #contactdiv a {
        padding: 2em 2em;
        
    }

    #contactdiv a > p {
        text-align: center; 
        font-size: 1rem; 
        margin: auto;
    }


}

@media (max-width: 320px){

    #contact {
        height: 60vh;
        padding: 4.2rem 2rem;
    }

    h3 {
        font-size: 1.4rem;
        margin: 2.2rem auto 6rem auto;
    }

    #contactdiv a {
        padding: 2em 2em;
        
    }

    #contactdiv a > p {
        text-align: center; 
        font-size: 1rem; 
        margin: auto;
    }


}

footer {
    background-color: var(--color2);
    color: var(--color3);
}

footer p {
    padding: 4em;
    text-align: end;
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 500px){
    footer p {
        text-align: center;
    }
}

@media (max-width: 400px){
    footer p {
        font-size: 0.9rem;
        text-align: center;
        padding: 1.6rem;
    }
}

@media (max-width: 320px){
    footer p {
        font-size: 0.8rem;
        text-align: center;
        padding: 1.4rem;
    }
}



    
